<div class="articles container">

  {{#each articles }}
  <div class="center-block">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>{{dateoftrans}}</h1>
        <p>PLAYER: {{player}}</p>
        <p>TEAM: {{team}}</p>
        <p>TRANSACTION: {{transaction}}</p>
        <button data-id={{_id}} class="btn btn-lg btn-outline-secondary pull-right save-article">Save</button>
      </div>
    </div>
  </div>
  {{/each}}

</div>