<div class="savedArt articles">
    <ul>
        {{#each articles }}
        <div class="panel panel-default center-block">
            <div class="panel-body">
                <h1>{{dateoftrans}}</h1>
                <p>{{team}}</p>
                <p>{{player}}</p>
                <p>{{transaction}}</p>
                <button data-id={{_id}} class="btn btn-lg btn-outline-secondary pull-right removeSaved">Remove from Saved</button>

                <button data-id={{_id}} class="btn btn-lg btn-outline-secondary pull-right saved-buttons" id="addCheckNote" data-toggle="modal"
                    data-target="#noteModal" data-value="{{this._id}}">View/Add Notes</button>
            </div>
        </div>
        <br />
        <br />


        <!-- Modal -->
        <div id="noteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <b>Notes:</b>
                        </h4>
                        <!--display for notes-->
                        <div>
                            <ul id="notesBody">

                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleTextarea">Enter New Note</label>
                            <!--enter note -->
                            <textarea class="form-control" id="notestext" rows="3"></textarea>
                        </div>
                        <div>
                            <!--enter saved notes here-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button data-id={{_id}} data-dismiss="modal" id="saveButton" class="btn btn-primary savenote">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </ul>

</div>